@font-face {
font-family: 'OpenSans';
src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),  
url('../fonts/OpenSans.woff') format('woff'), 
url('../fonts/OpenSans.ttf')  format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'OpenSans-Bold';
src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),  
url('../fonts/OpenSans-Bold.woff') format('woff'), 
url('../fonts/OpenSans-Bold.ttf')  format('truetype');
font-weight: normal;
font-style: normal;
}

$fa-font-path: "../fonts";
$fa-family: 'FontAwesome';
@font-face {
  font-family: 'FontAwesome';
  src: url('#{$fa-font-path}/fontawesome-webfont.eot');
  src: url('#{$fa-font-path}/fontawesome-webfont.eot') format('embedded-opentype'),
    url('#{$fa-font-path}/fontawesome-webfont.woff2') format('woff2'),
    url('#{$fa-font-path}/fontawesome-webfont.woff') format('woff'),
    url('#{$fa-font-path}/fontawesome-webfont.ttf') format('truetype'),
    url('#{$fa-font-path}/fontawesome-webfont.svg') format('svg');
  	font-weight: normal;
  	font-style: normal;
}

$body-bg: #111820;
$base-fnt-clr: #fff;
$font-family: 'OpenSans' !default;
$font-family-bold: 'OpenSans-Bold' !default;
$base-fnt: 16px;
$fnt11: 11px;
$fnt12: 12px;
$fnt13: 13px;
$fnt14: 14px;
$fnt15: 15px;
$fnt16: 16px;
$fnt17: 17px;
$fnt18: 18px;
$fnt20: 20px;
$fnt24: 24px;
$fnt26: 26px;
$fnt28: 28px;
$fnt35: 35px;
$fnt36: 36px;
$blk-clr: #000;
$nav-clr: #747474;
$nav-activeBG: #2e2d2e;
$resumeOverlay_bg: #e7e1e6;
$resumeOverlay_txt: #002d55;
$overlay_shadow: #858383;
$err_clr: #f7941d;
$disclr_bg: #41464d;
$btn-gry: #e5e5e5;
$primary-clr: #293037;
$secondary-clr: #1fcbb0;
$secondaryAlt-clr: #4cd5c0;
$grey-clr: #ebebeb;
$grey-dark-clr:#b9bdc9;
$blk-clr: #000;
$red-clr:#cc0000;
.mrgn_t10{
	margin-top: 10px;	
}
.mrgn_t15{
	margin-top: 15px;	
}
.mrgn_t20{
	margin-top: 20px;	
}
.mrgn_t40{
	margin-top: 40px;	
}

@mixin actionBtn(){
	border-radius: 30px;	
	font-size: $fnt20;
	color: $base-fnt-clr;
	@include btn_grad();
	-moz-box-shadow: 8px 10px 10px $blk-clr;
	-webkit-box-shadow: 8px 10px 10px $blk-clr;
	box-shadow: 8px 10px 10px $blk-clr;
	height: auto;	
	&:hover{
		color: $secondary-clr;
		-moz-box-shadow: 8px 10px 10px $blk-clr;
		-webkit-box-shadow: 8px 10px 10px $blk-clr;
		box-shadow: 8px 10px 10px $blk-clr;
		outline: none;
	}
}

@mixin flexi_txt(){
	border-radius: 0 !important;
	height: 40px;
	-moz-box-shadow: inset 0px 0px 0 6px $grey-clr;
	-webkit-box-shadow: inset 0px 0px 0 6px $grey-clr;
	box-shadow: inset 0px 0px 0 6px $grey-clr;
	color: #000;
	margin: 0;
	border: 0 !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	&:focus{
		border: 0 !important;
		-moz-box-shadow: inset 0px 0px 0 6px $grey-clr !important;
		-webkit-box-shadow: inset 0px 0px 0 6px $grey-clr !important;
		box-shadow: inset 0px 0px 0 6px $grey-clr !important;
	}
}


@mixin radioBtn(){		
	margin-right: 9px;
	margin-top: -3px;
	vertical-align: middle;
	-webkit-appearance: radio;
	-moz-appearance: radio;
	appearance: radio;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	&:before{
		content: "";
		width: 100%;
		height: 100%;
		display: inline-block;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		background: $base-fnt-clr;
		border: 5px solid $base-fnt-clr;
	}
	&:focus{
		outline: none;
	}
	&:checked:before {
		background: $secondary-clr;
	}
}
@mixin btn_grad(){
	background: $secondary-clr;

	background: -moz-linear-gradient(top, $secondaryAlt-clr 0%, $secondaryAlt-clr 50%, $secondary-clr 51%, $secondary-clr 100%);
	
	background: -webkit-gradient(left top, left bottom, color-stop(0%, $secondaryAlt-clr), color-stop(50%, $secondaryAlt-clr), color-stop(51%, $secondary-clr), color-stop(100%, $secondary-clr));
	
	background: -webkit-linear-gradient(top, $secondaryAlt-clr 0%, $secondaryAlt-clr 50%, $secondary-clr 51%, $secondary-clr 100%);
	
	background: -o-linear-gradient(top, $secondaryAlt-clr 0%, $secondaryAlt-clr 50%, $secondary-clr 51%, $secondary-clr 100%);
	
	background: -ms-linear-gradient(top, $secondaryAlt-clr 0%, $secondaryAlt-clr 50%, $secondary-clr 51%, $secondary-clr 100%);
	
	background: linear-gradient(to bottom, $secondaryAlt-clr 0%, $secondaryAlt-clr 50%, $secondary-clr 51%, $secondary-clr 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$secondaryAlt-clr', endColorstr='#1fcbb1', GradientType=0 );

	&:hover{
		background: $base-fnt-clr;

		background: -moz-linear-gradient(top, $base-fnt-clr 0%, $base-fnt-clr 50%, $btn-gry 51%, $btn-gry 100%);
		
		background: -webkit-gradient(left top, left bottom, color-stop(0%, $base-fnt-clr), color-stop(50%, $base-fnt-clr), color-stop(51%, $btn-gry), color-stop(100%, $btn-gry));
		
		background: -webkit-linear-gradient(top, $base-fnt-clr 0%, $base-fnt-clr 50%, $btn-gry 51%, $btn-gry 100%);
		
		background: -o-linear-gradient(top, $base-fnt-clr 0%, $base-fnt-clr 50%, $btn-gry 51%, $btn-gry 100%);
		
		background: -ms-linear-gradient(top, $base-fnt-clr 0%, $base-fnt-clr 50%, $btn-gry 51%, $btn-gry 100%);
		
		background: linear-gradient(top, $base-fnt-clr 0%, $base-fnt-clr 50%, $btn-gry 51%, $btn-gry 100%);

		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$base-fnt-clr', endColorstr='$btn-gry', GradientType=0 );
	}
}

@mixin primaryBtn_grad(){
	border-radius: 10px;
	border: transparent;
	@include btn_grad();
	
}

/* Font Awesome variables */
.fa{
	font-family: 'FontAwesome';
}
.fa-check{
    content: "\f00c";
}
.fa-caret-up{
    content: "\f0d8";
}
.fa-caret-down{
    content: "\f0d7";
}