@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'flexi_variables';


html{
	background: $body-bg;
	padding: 0 0 20px;
}
body{
	background: $body-bg;
	color: $base-fnt-clr;
	font-family: $font-family;
	font-size: $fnt13;
	padding: 0;
}
#Flexi_Container{
	::selection{
		color: $base-fnt-clr;
		background: $secondary-clr;
	}
	h1{
		&.siteLogo{
			width: 70%;
			float: none;
			text-align: center;
			margin: 50px auto 30px;
			img{
				@extend .img-responsive;
				margin:0 auto;
			}
		}
	}
	label{
		margin-bottom: 10px;
	}
	.align_mdl, .align_mdl_sml{
		float: none !important;
		margin: 0 auto;
	}
	a, a:focus{
		color: $secondary-clr;
		text-decoration: none;	
		&:hover{
			color: $base-fnt-clr;
			text-decoration: none;
		}
	}

	.paddLR0 { padding-left:0px!important; padding-right:0px!important;}

	.flexi_info{
		font-size: $fnt17;
		text-align: center;
		p{
			margin: 0 0 10px;
		}	
		p:nth-child(1){
			margin-bottom: 18px;
		}
	}
	.getStarted{
		float: none; 
		margin: 18px auto 30px;
		background: $primary-clr;
		padding: 15px 10px;
		
		.reqElem{
			padding-top: 45px;
			text-align: center;
			font-size: $fnt14;
			margin-top: 6px;
			margin-bottom: 15px;
		}
		.IDrequire{
			background: url('../images/id_card.png') no-repeat center top;		
			background-size: 45px;
		}
		.over18{
			background: url('../images/over18.png') no-repeat center top;
			background-size: 45px;		
		}
		.upfrontFee{
			background: url('../images/upfront_fee.png') no-repeat center top;		
			background-size: 45px;
		}

		.getStartedBtn{
			float: none;
			margin: 0 auto;
			a.btn, .btn{
				width: 100%;
				line-height: 33px;
				font-size: $fnt20;
				@include primaryBtn_grad();
				color: $base-fnt-clr;
				&:focus{
					color: $base-fnt-clr;
					outline: none;
				}
				&:hover{
					color: $secondary-clr;
				}
			}
		}	
	}
	.resumeApp{
		text-align: center;
		font-size: $fnt14;
		color: $secondary-clr;
		float: none;
		margin: 12px auto 0;
		position: relative;
		z-index: 9;
		
	}
	.resumeApp_overlay{		
		&:before{
			@extend .fa, .fa-caret-up;
			font-size: 70px;
			position: absolute;
			top: -60px;
			left: 50%;
			color: $resumeOverlay_bg;
			-moz-transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
		}
		
		text-align: left;
		background: $resumeOverlay_bg;
		position: absolute;
		left: 50%;
		-moz-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		margin-top: 26px;
		width: 100%;
		padding: 34px 30px;
		z-index: 10;
		color: $resumeOverlay_txt;
		font-size: $fnt14;
		box-shadow: 6px 6px 0px -2px $overlay_shadow;

		.overlayCntrls{
			@include clearfix();
			margin: 20px 0 15px;
			button{
				@include primaryBtn_grad();
				box-shadow: none;
				margin-top: 15px;
				color: $base-fnt-clr;
				font-size: $fnt20;
				height: auto;
				outline: none;
				&:hover, &:focus{
					box-shadow: none;
					background: $base-fnt-clr !important;
					color: $secondary-clr !important;
				}
			}
			.errMsg{
				padding: 0;
			}
		}

		&.upward{
			bottom: 45px;
			box-shadow: -6px -6px 0px -2px $overlay_shadow;
			&:before{
				display: none;
			}			
			&:after{
				@extend .fa, .fa-caret-down;
				font-size: 70px;
				position: absolute;
				bottom: -55px;
				left: 50%;
				color: $resumeOverlay_bg;
			}
		}

		&.saveLnk{
			padding-bottom: 15px;
			bottom: 60px;
			.overlayCntrls{
				button{
					margin-top: 0;
				}
			}
			&:after{
				left: auto;
				right: 10px !important;
			}
		}

		&.resend {
			font-size: $fnt16;
			label.frmLbl{
				font-family: 'OpenSans';
				font-weight: normal;
				font-size: $fnt20;
			}
		}

		.overlayCntrls{
			.btn{
				width: 100%;
			}
		}

		.flexi_actionBtns{
			margin: 24px 0 12px;
			.btn{
				box-shadow: none;
				&:hover, &:focus{
					box-shadow: none;
					background: $base-fnt-clr;
				}
			}
		}
		&.cancelOrder{
			bottom: 62px;
			width: calc(100% - 20px);
			&:after{
				-moz-transform: translateX(-50%);
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
			}
		}
	}

	.saveApp_overlay{
		right: -18%;
		left:auto;
		-moz-transform: translateX(-50%);
		font-size:$fnt13!important;
		margin-top:0px;
		padding: 10px 10px 5px 10px;
		text-align:center;
		width: 46%;

		&:before {
			font-size: 70px;
			top: -56px;
			left: 86%!important;
			color: #e7e1e6;
		}

		&:after {
			font-size: 70px;
			position: absolute;
			bottom: -55px;
			left: 50%;
		}
	}

	ul.benefitsList{	
		margin: 0;
		padding: 0;	
		margin-bottom:20px;
		font-size: $fnt11;
		li{
			padding-bottom: 10px;
			list-style-type: none;
			background: url('../images/tick.png') no-repeat 0 4px;
			background-size: 17px;
			padding-left: 27px;
		}
	}
	.needHelp{
		margin: 0 auto;
		float: none;
		text-align: center;	
		font-size: $fnt14;	
		background: $primary-clr;
		padding: 20px 0;
		
		h3{
			background: url('../images/callnow.png') no-repeat center top;
			padding-top: 61px;
			font-size: $fnt20;
			font-weight: normal;
			margin: 13px 0 0;
			background-size: 44px;
			background-size: inherit;
		}
	}


	.pageFooter{
		border-top: 1px solid #5a5b60;
		margin-top: 65px;
		text-align: center;
		font-size: $fnt11;
		color: #6d6d72;
		padding: 20px 0;

		p{
			margin: 10px 0;
		}
		ul{
			margin: 0;
			li{
				list-style-type: none;
				display: inline;
				a{
					padding: 10px;
				}
				&+li{
					border-left: 1px solid #6d6d72;
				}
			}
		}
	}

	/*Expenses Page sass*/
	.frm-label{
		@include make-xs-column(6);
	}
	.frm-label-lg{
		@include make-xs-column(12);
	}
	.frm-cntrl{
		@include make-xs-column(6);	
		.errMsg{
			padding: 0!important;
		}
	}
	.frm-cntrl-lg{
		@include make-xs-column(12);	
		.errMsg{
			padding: 0!important;
		}
	}
	select, .selectBox_container{
		@extend .form-control;
		@include flexi_txt();
		font-size: $fnt14;
		position: relative;
		line-height: 28px;
		cursor: pointer;

		&:after{
			content:"";
			display: inline-block;
			position: absolute;
			background: #fff url(../images/right_arrw.png) no-repeat center;
			background-size: 14px;
			width: 16px;
			height: 16px;
			right: 16px;
			top: 50%;
			transform-origin: 14px 14px;
			-moz-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
		}
		&.opened:after{
			transform-origin: 18px 8px;
			transform: rotate(90deg);
			top: 16px;
			right: 25px;
		}	
	}
	.selectBox_container{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

	input[type="text"].selectBox_container{
		background: #fff url(../images/right_arrw.png) no-repeat 95% center;
		background-size: 14px;
		&.opened{
			background: #fff url(../images/down_arrw.png) no-repeat 95% center;
			background-size: 14px;
		}
	}

	ul.options_container{
		padding: 0; 
		margin: 0;
		list-style-type: none;
		background: $base-fnt-clr;
		color: $blk-clr;
		width: calc(100% - 20px);
		position: absolute;
		z-index:99;
		display: none;
		li{
			height: 30px;
			line-height: 30px;
			padding-left: 42px;
			font-size: $fnt14;
			cursor: pointer;
			&:hover, &.selected{
				background: #f0f0f0;
			}

		}
	}

	input[type="text"], textarea, input[type="tel"], input[type="email"], input[type="date"]{
		@extend .form-control;
		@include flexi_txt();
		font-size: $fnt14 !important;
		&.total{
			-moz-box-shadow: inset 0px 0px 0 6px $secondary-clr;
			-webkit-box-shadow: inset 0px 0px 0 6px $secondary-clr;
			box-shadow: inset 0px 0px 0 6px $secondary-clr;
		}
		&.error{
			-moz-box-shadow: inset 0px 0px 0 6px $err_clr;
			-webkit-box-shadow: inset 0px 0px 0 6px $err_clr;
			box-shadow: inset 0px 0px 0 6px $err_clr;
		}
	}
	::-webkit-input-placeholder{
		font-size: $fnt14;
	}
	::-moz-placeholder{
		font-size: $fnt14;
	}
	::placeholder{
		font-size: $fnt14;
	}
	input[type="radio"]{
		//@include radioBtn();
		//width: 17px;
		//height: 17px;
		vertical-align: middle;
        visibility: hidden;
		/*&:before{
			border-width: 4px;
		}*/
	}

	.customRadioBtn{
	    width: 17px;
	    height: 17px;
	    &:before{
	        border-width: 4px;
	    }
	}


	.errMsg{
		color: $err_clr;
		font-size: $fnt14;
		display: block;
		float: left;
		width: 100%;
		padding: 0 10px;
		a{
			font-size: $fnt14 !important;
			text-decoration: underline;
			line-height: 0 !important;
			height: auto !important;
		}
		a:hover{
			text-decoration: none;
		}
	}

	.flexi_thanks{
		@include make-sm-column(7);
		@include make-md-column(6);
		font-size: $fnt16;
		margin-bottom: 40px;
		text-align: center;	
	}


	.flexi_heading{
		font-size: $fnt26;
		margin-bottom: 30px;
		text-align: center;
	}

	.privacyTxtCont 
	{
		margin-bottom:60px;

		.frmLbl 
		{
			font-size:$fnt18;
			margin-bottom:10px;
		}

		ul.info {
			margin-top:20px;
			padding:0px;
			label 
			{
			  width:70px;

			}
			li 
			{
			  list-style-type:none;
			  margin-bottom:15px;

			  span 
			  {
			  	
			  }
			}
		}	
	}



	.expenseFrm, .pageFrm{
		margin-bottom: 40px;
		@include clearfix();
		.flexiCalci{
			.form-group{
				white-space: nowrap;
			}
		}
		.form-group{
			margin-bottom: 30px;
		}
		.row.form-group:last-child{
			margin-bottom: 0;
		}
		p{
			margin: 0 0 15px;
			line-height: 18px;
		}
		
	}
	.radioGroup{
		ul{
			margin: 0;
			padding: 0;
		}
		li{
			list-style-type: none;
			margin-bottom: 10px;
		}
		li:last-child{
			margin-bottom: 0;
		}
		label{
		    position: relative;
		    padding-left: 15px;
		}

	}

	.decisionCont 
	{
			margin-bottom: 45px;
	}

	label{	
		font-weight: normal;
		&.lbl_right_algn{
			text-align: right;
			padding-right: 12px;
			margin-bottom: 0;
			display: inline-block;
			float: none;
			vertical-align: middle;
			line-height: 14px;
			white-space: normal !important;
			width: 49%;
			top: -5px;
		}
		&.frmLbl{
			font-size: $fnt14;
			font-family: 'OpenSans-Bold';			
		}
	}
	label.lbl_right_algn+.frm-cntrl{
		display: inline-block;
		float: none;
		white-space: normal !important;
		width: 49%;
	}

	.flexi_actionBtns{
		margin-top: 8px;
		position: relative;
		z-index: 9;
		a{
			font-size: $fnt16;
			line-height: 40px;
			display: inline-block;
		}
		.btn{
			@include actionBtn();
			padding-left: 36px;
			padding-right: 36px;
		}
		&.consentCode{			
			.btn{
				margin-top: 10px;
				font-size: $fnt18;
				width: 100%;
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}

	.flexi_nav{
		ul{
			@include clearfix();			
			border-radius: 30px;
			overflow: hidden;
			margin: 0 0 32px;
			padding: 0;
			li{
				list-style-type: none;
				float: left;
				width: 25%;
				background: $blk-clr;
				text-align: center;
				height: 60px;
				line-height: 60px;			
				overflow: hidden;
				font-size: $fnt13;
				color: $nav-clr;
				&.done, &.active{
					background: $nav-activeBG;
				}
				&.active{
					color: $base-fnt-clr;
				}
			}
		}
	}
	.posRel{
		position: relative;
	}

	.disclosure{
		background: $disclr_bg;
		padding: 30px;
		ul{
			list-style-type: none;
			padding-left: 40px;
			li{
				position: relative;
				margin-bottom: 30px;
			}
			li:last-child{
				margin-bottom: 0;
			}
		}
	}

	.cstm_chkbox{
		position: absolute;
		left: -40px;
		&:before{
			content: "";
			background: $base-fnt-clr;
			width: 25px;
			height: 25px;
			-moz-box-shadow: inset 0px 0px 0 6px $grey-clr !important;
			-webkit-box-shadow: inset 0px 0px 0 6px $grey-clr !important;
			box-shadow: inset 0px 0px 0 6px $grey-clr !important;
			outline: none;
			position: absolute;
			left: -2px;
			top: -3px;
			z-index: 9;			 
		}
		/*&:checked:before{
			content: "\f00c";
			color: $secondary-clr;
			font-family: 'FontAwesome';
			text-align: center;
			font-size: $fnt16;
			padding-top: 4px;
		}*/
	}

	input[type="checkbox"]{
	    visibility: hidden;
	}
	input[type="checkbox"]:checked ~ .cstm_chkbox{
	    &:before{
	        content: "\f00c";
	        color: $secondary-clr;
	        font-family: 'FontAwesome';
	        text-align: center;
	        font-size: $fnt14;
	        padding-top: 4px;
	    }
	}

	ul.has-error{
		display: none;
		height: 0;
	}

	/*-- Flexi Loader spinner css --*/
	.flexiLoader{
		position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    background: rgba(0,0,0,0.5);
	    z-index: 9;
	    img{
	    	position: absolute;
		    left: 50%;
		    top: 50%;
		    -webkit-transform: translate(-50%, -50%);
		    -moz-transform: translate(-50%, -50%);
		    transform: translate(-50%, -50%);
	    }
	}
	.pos_rel{
		position: relative;
	}
	.smlTxt{
		font-size: $fnt16;
	}

	/*-- Address Field CSS --*/
	.slds-lookup__Custom{
		li.slds-lookup__item{
			a{
				color: $blk-clr;
				padding: 6px 12px 6px 42px;
			    font-size: $fnt14;
			   	&:hover{
			   		background: #f0f0f0;
			   	}
			}
		}
	}

	.midCont 
	{
		margin-top:10px;	
	}

	.red 
	{ 
		color:$red-clr;
	}	

	.approvalDetails{
		margin: 0;
		padding: 0;
		li{
			list-style-type: none;
			padding: 0 0 15px;
			@include clearfix();
			label{
				width: 142px;
				float: left;
			}
			span{
				font-weight: bold;
				float: left;
				margin-top:1px;
			}
		}
	}


	.successCont 
	{
		margin-bottom:70px;	
		label.frmLbl 
		{
			background: url('../images/stick.png') no-repeat left top;
			padding-left:50px;	
			padding-top:10px;
		}
			
	}

	.planCont 
	{

		.paymentPlan 
		{
		 	margin-bottom:40px;	
		}

		.paymentBox 
		{		
			@include clearfix();
			margin-bottom:40px;	
			background:$disclr_bg;
			
			.payMidCont
			 { 
			 padding:20px 20px 10px 20px;	
				ul 
				{
				@include clearfix();
				margin:0px;
				padding:0px;
					li 
					{
					  list-style-type:none;
					  span { text-align:right; font-weight:bold;}
					  label { text-align:left; padding-left:0px;}

					}
				}

			}
			.botCont 
			{
				@include clearfix();
				padding:15px;
				background:$secondary-clr;

			  &.clicked 
			  {
			     color:$base-fnt-clr;			     
			  }	

			  .tick 
			  {
			  		background: url('../images/stick.png') no-repeat left top;
			  		height:35px;
			  		line-height:35px;
			  		display:inline-block; 
			  		padding-left:40px;
			  		color:$base-fnt-clr;
			  }	
			}

			&.selected 
			{
				background:$base-fnt-clr;
				color:$blk-clr;	
			}

			a {
			    color:$base-fnt-clr;		
			}		
		}

		.viewAll 
		{
		   margin-bottom:40px;		
		}		
	}

.termsCont 
{
	margin-bottom:80px;	
	.paymentBox 
	{
		margin-bottom:0px!important;
	}	
	.termHeading 
	{
		@include clearfix();	
		border-bottom:1px $grey-clr solid;
		margin-bottom:15px;	
		font-weight:bold;
		font-size:$fnt16;
	}		
}

.termsApp_overlay 
{
	.termsAppHead 
	{
		background: url('../images/terms_icn.png') no-repeat left top;
		padding-left:80px;
		border-bottom:1px $grey-dark-clr solid;	
		margin-bottom:20px;

	}

	a 
		{
		  font-size:$fnt20!important;	
		}

}


	@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape) 
{

.getStartedCont 
{
	@include make-xs-column(6);
}	

.benfitListCont, 
{
	@include make-xs-column(6);	
}

.needHelpCont

{
	@include make-xs-column(6);	
} 
	
 }


	/*-- Media Query CSS starts here --*/

	@media (min-width: $screen-sm-min) { 

		.midCont 
		{
			margin-top:44px;	
		}	

		.successCont 
		{
			padding-top:44px;
			label.frmLbl 
			{
			  padding-top:5px;
			}

		}

		.planCont 
		 {	
			.viewAll 
			{
			   margin-bottom:80px;		
			}
		 }			
		.saveApp_overlay{
			font-size:$fnt20!important;
			right: -22%;
			box-shadow: 5px 5px 0px -2px $overlay_shadow;
			&:before {
				left: 86%;
			} 
		}

		h1{
			&.siteLogo{
				margin-bottom: 38px;

			}
		}

		label{	
		font-weight: normal;
			&.lbl_right_algn{
				padding-right: 24px;
				line-height: 24px;
			}
		}
		.getStarted{
			margin: 43px auto 50px;
			padding: 30px;
			.reqElem{
				font-size: $fnt24;
				padding-top: 85px;
				margin-bottom: 43px;
			}
			.getStartedBtn{
				.btn, a.btn{
					font-size: $fnt35;
					line-height: 68px;	
				}
				
			}

			.IDrequire{
				background-size: auto;
			}
			.over18{
				background-size: auto;		
			}
			.upfrontFee{
				background-size: auto;
			}
		}

		.pageFooter{
			font-size: $fnt15;
		}
		ul.benefitsList{
			margin-bottom: 0;
			font-size: $fnt18;
			li{
				background-size: auto;
				padding-left: 50px;
				padding-bottom: 18px;
			}
		}
		.needHelp{
			padding: 40px 0;
			font-size: $fnt18;
			h3{
				font-size: $fnt36;
				padding-top: 56px;
				margin: 10px 0 0;
			}	
		}
		.align_mdl_sml{
			float: left !important;
		}
		.flexi_info{
			font-size: $fnt26;
			p:nth-child(1){
				margin-bottom: 0;
			}
		}
		.resumeApp{
			font-size: $fnt18 !important;
			margin: 24px auto 0;				
		}
		.resumeApp_overlay {
			font-size: $fnt20;
			.overlayCntrls{
				margin: 30px 0 15px;
				button{
					margin-top: 0;
					font-size: $fnt24;
				}
			}
		}
		.expenseFrm, .pageFrm{
			p{
				line-height: 24px;
			}
		}
		.expenseFrm, .pageFrm{
			margin-bottom: 72px;
		}
		label.frmLbl{
			font-size: $fnt20;
		}
		input[type="text"], textarea, input[type="tel"], input[type="email"], input[type="date"], select{
			font-size: $fnt20 !important;
		}
		::-webkit-input-placeholder{
			font-size: $fnt20;
		}
		::-moz-placeholder{
			font-size: $fnt20;
		}
		::placeholder{
			font-size: $fnt20;
		}

		input[type="radio"]{
			/*width: 25px;
			height: 25px;
			&:before{
				border-width: 5px;
			}*/
		}
		.customRadioBtn{
		    width: 25px;
		    height: 25px;
		    top: -2px;
		    &:before{
		        border-width: 5px;
		    }
		}

		.flexi_nav{
			ul{
				position: relative;
				margin-left: -23px;
				margin-right: -23px;
				li{
					font-size: $fnt18;
				}			
			}
		}
		.flexi_thanks{
			font-size: $fnt24;
			margin-bottom: 65px;
		}
		ul.options_container{
			li{
				height: 58px;
				line-height: 58px;
				font-size: $fnt20;
			}
		}
		select, .selectBox_container{
			font-size: $fnt20;
			line-height: 40px;
			&:after{
				background-size: auto;
				width: 28px;
				height: 28px;
			}
			&.opened:after{
				right: 16px;
				top: 20px;
			}
		}

		input[type="text"].selectBox_container{
			background-size: auto;
			&.opened{
				background-size: auto;
			}
		}
		.errMsg{
			font-size: $fnt16;
			line-height: 24px;
			a{
				font-size: $fnt16 !important;
				line-height: 24px;
			}	
		}

		select, .selectBox_container, input[type="text"], textarea, input[type="tel"], input[type="email"], input[type="date"]{
			height: 50px;
		}

		.flexi_actionBtns{
			a{
				font-size: $fnt18;
				display: inline-block;
				line-height: 60px;
			}
			.btn{
				font-size: $fnt28;
				height: 60px;
			}
			&.consentCode{
				.btn{
					font-size: $fnt24;
				}
			}
		}
		.slds-lookup__Custom{
			li.slds-lookup__item{
				a{
					color: $blk-clr;
					padding: 12px 12px 12px 42px;
				    font-size: $fnt20;
				   	&:hover{
				   		background: #f0f0f0;
				   	}
				}
			}
		}	
		.radioGroup{
			label{
			    padding-left: 25px;
			}
		}

			
	}

	/*-- Media Query CSS ends here --*/

}


/*-- Datepicker css here --*/

.uiInput--datetime .datePicker-openIcon, .uiInput--datetime .timePicker-openIcon 
{ 
	font-size: $fnt26;
}

.uiDatePicker--default .datepicker__filter--month
{ 
	color:#000;
}

.uiDatePicker--default 
{
	font-size: $fnt14;
	width: 90%; 
	margin-left:77px;
}

.uiDatePicker--default .datepicker__filter--month .monthYear 
{ 
	font-size: $fnt14;
}
.uiDatePicker--default .picklist__label {
	font-size: $fnt14;
	font-weight: 400;
	margin-top: 13px;
	height: 35px;
}

@media (min-width: $screen-sm-min) { 
	body{
		padding: 0;
		font-size: $fnt16;
	}
	.uiDatePicker--default {
		width: 100%; 
	}
}

.siteforceTwoColumnLayout .row .ui-widget{
	margin-top: 0px !important;
}