.catBox{
	cursor: pointer;
}
.colorClass{
	background: #01a787;
	min-height: 225px;
	color: white;
	font-size: 36px;
	margin-top:5%;
}
.flexiImgQuote{
	height: 160px; 
	display: block;
}
.apply{
	background: url(../images/apply.png) no-repeat center;
}
.quote{
	background: url(../images/quote.png) no-repeat center;
}
.purchase{
	background: url(../images/purchase.png) no-repeat center;
}
.info{
	background: url(../images/info.png) no-repeat center;
}